h1, h2{
    font-size: 8em;
    text-align: center;
    font-weight: 600;
    box-sizing: border-box;
    padding: 1em 0 1em 0;
    color: #222222;
}



h3 {
    font-size: 3em;
    text-align: center;
    font-weight: 600;
    box-sizing: border-box;
    padding: 1em 2em 1em 2em;
    color: #222222;
}

#fondo{
    display: flex;
    flex-direction: center;
    align-items: center;
    background-color: #6b6969;
    color: white;
    border-radius: 2em 0 2em 0;
}

#fondo_1{
    display: flex;
    flex-direction: center;
    align-items: center;
    background-color: #6b6969;
    color: white;
    margin: 4em 0 0 0;
    border-radius: 2em 0 2em 0; 
}

#parrafos{
    text-align: justify;
    padding: 0 4em 0 4em;
}

#parrafos_1 {
    text-align: justify;
    padding: 0.2em;
}

img {
    border-radius: 15px;
}
